@charset "UTF-8";

*{
	background-color: rgb(247, 240, 213);
	
}
h5 {
	font-size: 20px;
	text-align: center;
	padding: 20px 10px;
	

border: solid 3px #000000;

background-color: rgb(106, 247, 99);
}
.file-field input-field span{
	color: black;
}
.box{
	text-align: center;
}
.btn waves-effect waves-light btn {
	text-align: center;
	background-color: lightcyan;
}

.container {
	border: #000000 1px;
	background-color: lightsalmon;
}
