* {
    font-family: "ＭＳ ゴシック", sans-serif;
}

img {
    width: 60px;
}

.title {
    font-size: 50px;
    text-align: center;
}

p {
    text-align: center;
    font-size: 16px;
    color: #666;
    line-height: 2.5;
    margin: 0;
}

#text-wrap {
    width: 50%;
    height: 100%;
    display: block;
    margin: 0 auto;
    padding: 70px;
}

.hide-text {
    display: none;
}


button.readmore {
    position: relative;
    height: 80px;
    width: 90px;
    margin: 40px auto;
    display: block;
    background-color: transparent;
    color: #666;
    padding-bottom: 40px;
    border: none;
    outline: 0;
    transition: .5s;
    -erbkit-transition: .5s;
}

button.readmore::after {
    content: " ";
    position: absolute;
    width: 30px;
    height: 30px;
    border-top: solid 3px #666;
    border-right: solid 3px #666;
    right: 28px;
    top: 25px;
    transition: .5s;
    -erbkit-transition: .5s;
}

button.readmore:hover::after {
    top: 40px;
}

.on-click {
    color: transparent !important;
}


.on-click {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
}