<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style_base.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../static/js/common.js"></script>

    <title>求人作成・更新</title>
</head>

<body>
    <div class="container">



        <nav>
            <div class="nav-wrapper green lighten-2">
                <a class="team-name center">卒業制作</a>
                <a href="#" class="brand-logo center">
                    <img class="headerimg" src="../static/img/トマト.png" alt="logo">
                </a>


                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/write">投稿</a></li>
                    <li><a href="/mypage">マイページへ</a></li>
                    <!-- ボタンリンク先要動作確認 -->
                </ul>
            </div>
        </nav>


    </div>
</body>
<main>
    {% block content %}
    {% endblock %}
</main>


</html>