<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="./css/form.css">

    <!--link-->
 <!-- Compiled and minified CSS -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

 <!-- Compiled and minified JavaScript -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
         
</head>
<body class="amber lighten-5">
  <form action="/edit" method="POST">
    <h5>更新ページ</h5>
     
    
        
             <div class="file-field input-field">
               <div class="btn">
                 <span><font color="black">写真</font></span>
                 <input type="file" multiple>
               </div>
               <div class="file-path-wrapper">
                 <input class="file-path validate" type="text" placeholder="写真がありません" name="users_image" >
               </div>
             </div>
                   
           <div class="row">
             <form class="col s12">
                 <div class="row">
                     <div class="input-field col s12">
                       <input id="name" type="text" class="validate" name="users_name"  value="{{tmp_user_info[1]}}">
                       <label for="name">名前</label>
                     </div>
                 </div>      
                    
           <div class="row">
               <div class="input-field col s12">
                   <input id="representative" type="text" class="validate" name="users_representative"  value="{{tmp_user_info[4]}}">
                   <label for="representative">代表者</label>
               </div> 
           </div>    
                     
           <div class="row">
               <div class="input-field col s12">
                   <input id="local" type="text" class="validate" name="users_local"  value="{{tmp_user_info[5]}}">
                   <label for="local">所在地</label>
               </div> 
           </div>    
                     
           <div class="row">
             <div class="input-field col s12">
               <input id="password" type="password" class="validate" name="users_password"  value="{{tmp_user_info[3]}}">
               <label for="password">パスワード</label>
             </div>
           </div>
           <div class="row">
             <div class="input-field col s12">
               <input id="email" type="email" class="validate" name="users_email"  value="{{tmp_user_info[2]}}">
               <label for="email">メールアドレス</label>
             </div>
           </div>       
 
          
 
           <div class="row">
             <div class="input-field col s12">
               <textarea id="textarea1" class="materialize-textarea" name="users_introduce"> {{tmp_user_info[6]}}</textarea>
               <label for="introduce">紹介文</label>
             </div>
            </div>
             
        <div class="box">   
         <button class="btn waves-effect waves-light" type="submit" name="save" value="登録">完了 </button>
       </div>
 
 
   </form>  
      
</body>
</html>
