<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/header.css">
    <title>タイトル</title>
</head>

<body>
    <header>
        <div class="container">


            <div class="header-left">卒業制作</div>
            <div class="header-center">
                <img class="logo" src="../static/img/トマト.png" alt="logo">

            </div>
            <div class="right">


                <a href="/write">投稿</a>


                <a href="/mypage">マイページへ</a>

            </div>