<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style_login.css">
    <link rel="stylesheet" href="destyle.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <div class="top-part">
        <h1 class="title">農家のお手伝い</h1>
        <img src="../static/img/トマト.png" alt="トマト">
        <a href="./main.html" class="btn work">働く！</a>
        <!-- ボタンリンク先要指定 -->
    </div>
    <div class="login-part">
        <h6>農家さんはこちら！</h6>
        <div class="login">
            <p>ログイン</p>
            <p class="txt">name</p>
            <input type="text" class="box">
            <p class="txt">password</p>
            <input type="text" class="box">
            <input type="submit" value="ログイン" class="submit">
        </div>
        <a href="./new.html" class="btn new">新規登録</a>
        <!-- ボタンリンク先要指定 -->
    </div>


























</body>

</html>