{% extends 'base.html' %}

{% block content %}

 <body>
 
  
  <span><font color="black">写真</font></span>
  <img src="{{user_imag}}" alt="登録画像"><br>
      
  <label for="name">名前</label>
  <p class="validate">{{users_name}}</p>
  
  
  <label for="representative">代表者</label>
  <p class="validate">{{users_representative}}</p>
  
  <label for="local">所在地</label>
  <p class="validate">{{users_local}}</p>
  
  <label for="password">パスワード</label>
  <p class="validate">{{users_password}}</p>
  
  <label for="email">メールアドレス</label>
  <p class="validate">{{users_email}}</p>
  
  <label for="introduce">紹介文</label>  
  <p class="validate">{{users_introduce}}</p>
  <div class="validate">{{users_introduce}}</div>            
         
  <div class="box">   
  <button class="btn waves-effect waves-light" type="submit" name="save" value="更新">更新 </button>
  </div>
  {% endblock %}
  
   
       
 