{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/css/mypage.css">
  <link rel="stylesheet" href="destyle.css">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>


<body class="amber lighten-5">


  <p>画像</p>
  <img src="/static/img/{{tmp_user_info[7]}}" alt="" class="prof_img">


  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="name" type="text" class="validate" value="{{tmp_user_info[1]}}">
          <label for="name">名前</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="representative" type="text" class="validate" value="{{tmp_user_info[4]}}">
          <label for="representative">代表者</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="local" type="text" class="validate" value="{{tmp_user_info[5]}}">
          <label for="local">所在地</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" value="{{tmp_user_info[3]}}">
          <label for="password">パスワード</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" value="{{tmp_user_info[2]}}">
          <label for="email">メールアドレス</label>
        </div>
      </div>

    </form>

  </div>

  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea">{{tmp_user_info[6]}}</textarea>
          <label for="introduce">紹介文</label>
        </div>
      </div>
    </form>
  </div>


  <div class="re">
    <a class="waves-effect waves-light btn my_update" type="submit" name="save" href="/edit">マイページ更新</a>
    <a class="waves-effect waves-light btn to_update" href="/post_update">投稿ページ更新</a>
  </div>

  <div>
    <a class="waves-effect waves-light btn logout" href="/logout">ログアウト</a>
  </div>

</body>

{% endblock %}