<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/write.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../static /js/common.js"></script>
    <title>求人作成・更新ページ</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper green lighten-2">
            <a class="team-name center">卒業制作</a>
            <a href="#" class="brand-logo center">
                <img src="../static/img/トマト.png" alt="logo">
            </a>


            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="badges.html">投稿</a></li>
                <li><a href="collapsible.html">マイページへ</a></li>
            </ul>
        </div>
    </nav>

    <main>
        <form action="/main.html" methods="POST">

            <table border="0">
                <tr>
                    <td align="right"><b> ・求人タイトル：</b></td>
                    <td><input type="text" size="30" maxlength="20" title="title_task"></td>
                </tr>

                <tr>
                    <td align="right"><b> ・写真（複数可）:</b></td>
                    <td><input type="file" id="img_photo" accept="image/*" size="500">
                        <img id="preview" alt="pre">
                    </td>
                </tr>

                <tr>
                    <td align="right"><b>・農業紹介: </b></td>
                    <td><input type="text" size="30" maxlength="40" introduce="intro_task"></td>
                </tr>
                <tr>
                    <td align="right"><b>・仕事内容: </b></td>
                    <td><input type="text" size="30" maxlength="150" job="work_task">(150字以内)</td>
                </tr>
                <tr>
                    <td align="right"><b>・給与: </b></td>
                    <td><input type="text" size="30" maxlength="20" salary="salary_task"></td>
                </tr>
                <tr>
                    <td align="right"><b>・対象となる人: </b></td>
                    <td><input type="text" size="30" maxlength="20" target="target_task"></td>
                </tr>
                <tr>
                    <td align="right"><b>・勤務地: </b></td>
                    <td><input type="text" size="30" maxlength="20" location="location_task"></td>
                </tr>
                <tr>
                    <td align="right"><b>・勤務時間: </b></td>
                    <td><input type="text" size="30" maxlength="20">〜<input type="time" size="30" maxlength="20"
                            hours="hours_task"></td>
                </tr>


                <tr>
                    <td align="right"><b>・雇用形態: </b></td>
                    <td><input type="text" size="30" maxlength="20" employ_status="status_task"></td>
                </tr>
                <tr>
                    <td align="right"><b>・休暇: </b></td>
                    <td><input type="text" size="30" maxlength="20" holiday="holiday_task"></td>
                </tr>

                <tr>
                    <td align="right"><b>・待遇・福利厚生: </b></td>
                    <td><input type="text" size="30" maxlength="20" walfare="walfare_task"></td>
                </tr>

                <tr>
                    <td align="right"><b>・応募の流れ: </b></td>
                    <td><input type="text" size="30" maxlength="20" flow="flow_task"></td>
                </tr>

                <tr>
                    <td align="right"><b>・SNSのリンク先: </b></td>
                    <td><input type="text" size="30" maxlength="100" sns_link="link_task"></td>
                </tr>
                <td>
                    <input type="submit" value="投稿しました！">
                </td>




            </table>
        </form>





    </main>
</body>

</html>