<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/write.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../static /js/common.js"></script>
    <title>求人作成・更新ページ</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper green lighten-2">
            <a class="team-name center">卒業制作</a>
            <a href="#" class="brand-logo center">
                <img src="../static/img/トマト.png" alt="logo">
            </a>


            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/write">投稿</a></li>
                <li><a href="/mypage">マイページへ</a></li>
            </ul>
        </div>
    </nav>

    <main class="amber lighten-5">
        <form action="/write" method="POST">

            <table border="0">
                <tr>
                    <td align="right"><b> ・求人タイトル：</b></td>
                    <td><input type="text" size="30" maxlength="20" name="title_task"></td>
                </tr>

                <tr>
                    <td align="right"><b> ・写真 :</b></td>
                    <td><input type="file" id="img_photo" accept="image/*" size="500">

                    </td>
                </tr>

                <tr>
                    <td align="right"><b>・農業紹介: </b></td>
                    <td><input type="text" size="30" maxlength="40" name="intro_task"></td>
                </tr>
                <tr>
                    <td align="right"><b>・仕事内容: </b></td>
                    <td><input type="text" size="30" maxlength="150" name="work_task">(150字以内)</td>
                </tr>
                <tr>
                    <td align="right"><b>・給与: </b></td>
                    <td><input type="text" size="30" maxlength="20" name="salary_task"></td>
                </tr>
                <tr>
                    <td align="right"><b>・対象となる人: </b></td>
                    <td><input type="text" size="30" maxlength="20" name="target_task"></td>
                </tr>
                <tr>
                    <td align="right"><b>・勤務地: </b></td>
                    <td><input type="text" size="30" maxlength="20" name="location_task"></td>
                </tr>
                <tr>
                    <td align="right"><b>・勤務時間: </b></td>
                    <td><input type="time" size="30" maxlength="20" name="hours_task">〜<input type="time" size="30"
                            maxlength="20" name="hoursf_task"></td>
                </tr>


                <tr>
                    <td align="right"><b>・雇用形態: </b></td>
                    <td><input type="text" size="30" maxlength="20" name="status_task"></td>
                </tr>
                <tr>
                    <td align="right"><b>・休暇: </b></td>
                    <td><input type="text" size="30" maxlength="20" name="holiday_task"></td>
                </tr>

                <tr>
                    <td align="right"><b>・待遇・福利厚生: </b></td>
                    <td><input type="text" size="30" maxlength="20" name="walfare_task"></td>
                </tr>

                <tr>
                    <td align="right"><b>・応募の流れ: </b></td>
                    <td><input type="text" size="30" maxlength="20" name="flow_task"></td>
                </tr>

                <tr>
                    <td align="right"><b>・SNSのリンク先: </b></td>
                    <td><input type="text" size="30" maxlength="100" name="link_task"></td>
                </tr>
                <td>
                    <input type="submit" value="投稿します！">
                </td>




            </table>
        </form>





    </main>
</body>

</html>